[Unit]
Description=Servicio de Captura y Detección de Movimiento
After=multi-user.target

[Service]
Type=simple
User=ab
WorkingDirectory=/home/ab/Deteccion_Intrusos
ExecStart=/usr/bin/python3 /home/ab/Deteccion_Intrusos/buclePrincipal.py
Restart=always
StandardOutput=/home/ab/Deteccion_Intrusos/log_systemd_main.txt
StandardError=syslog

[Install]
WantedBy=multi-user.target